airflow-docker/.DS_Store
airflow-docker/.env
airflow-docker/config/.DS_Store
airflow-docker/logs/dag_id=hello_airflow/run_id=manual__2026-02-08T01:08:57.818010+00:00/task_id=hello/attempt=1.log
airflow-docker/logs/dag_id=hello_airflow/run_id=manual__2026-02-08T01:27:21.191193+00:00/task_id=hello/attempt=1.log
airflow-docker/logs/dag_id=hello_airflow/run_id=manual__2026-02-08T01:56:09.021328+00:00/task_id=hello/attempt=1.log
airflow-docker/logs/dag_id=hello_airflow/run_id=manual__2026-02-08T07:32:44.564259+00:00/task_id=hello/attempt=1.log
airflow-docker/logs/dag_id=hello_airflow_1/run_id=manual__2026-02-08T02:35:12.624155+00:00/task_id=say_hello/attempt=1.log
airflow-docker/logs/dag_id=hello_airflow_1/run_id=manual__2026-02-11T04:12:44.032769+00:00/task_id=say_hello/attempt=1.log
airflow-docker/logs/dag_id=hello_airflow_1/run_id=manual__2026-02-11T04:13:19.431840+00:00/task_id=say_hello/attempt=1.log
airflow-docker/logs/dag_id=lineage_example/run_id=manual__2026-02-08T08:08:48.996497+00:00/task_id=extract/attempt=1.log
airflow-docker/logs/dag_id=lineage_example/run_id=manual__2026-02-08T08:08:48.996497+00:00/task_id=transform/attempt=1.log
airflow-docker/logs/dag_id=lineage_example/run_id=scheduled__2026-02-08T00:00:00+00:00/task_id=extract/attempt=1.log
airflow-docker/logs/dag_id=lineage_example/run_id=scheduled__2026-02-08T00:00:00+00:00/task_id=transform/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-08T08:22:00.941360+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-08T08:22:00.941360+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-08T08:37:27.444004+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-08T08:37:27.444004+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T04:34:14.444191+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T04:34:14.444191+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T04:43:52.205045+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T04:43:52.205045+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T04:54:43.870817+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T04:54:43.870817+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:17:24.055335+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:17:24.055335+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:24:18.037286+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:24:18.037286+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:34:03.870645+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:34:03.870645+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:38:05.426782+00:00/task_id=consume/attempt=1.log
airflow-docker/logs/dag_id=lineage_smoke_test/run_id=manual__2026-02-11T05:38:05.426782+00:00/task_id=produce/attempt=1.log
airflow-docker/logs/dag_processor/2026-02-07/dags-folder/dag1.py.log
airflow-docker/logs/dag_processor/2026-02-08/dags-folder/dag1.py.log
airflow-docker/dags/.DS_Store
airflow-docker/dags-backup/.DS_Store
marquez-docker/.DS_Store
marquez/.DS_Store
marquez/.DS_Store
/airflow-docker/logs
/airflow-docker/dags/__pycache__
/airflow-docker/logs
/airflow-docker/logs/dag_processor
airflow-docker/postgres/1
/airflow-docker/logs
airflow-docker/logs/dag_processor/latest
/airflow-docker/dags/.idea
/airflow-docker/lineage
